langchain
ipykernel
python-dotenv
pypdf
langchain-community
bs4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
sentence-transformers
langchain-huggingface
faiss-cpu
langchain_chroma
streamlit
validators==0.28.1
youtube_transcript_api
neo4j==5.14
langchain-neo4j